.icon {
  background-color: red;
}
box-icon {
  font-size: 32px;
  color: blue;
}

i {
  font-size: 32px;
  color: yellow;
}

/* library starts */

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  color: #fff;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 161px 984px #fff, 522px 1728px #fff, 1700px 624px #fff,
    1789px 1350px #fff, 1981px 462px #fff, 505px 1535px #fff, 1909px 1140px #fff,
    1214px 273px #fff, 1093px 113px #fff, 1563px 1703px #fff, 1516px 1370px #fff,
    275px 1829px #fff, 1177px 463px #fff, 403px 1615px #fff, 1764px 1687px #fff,
    905px 1174px #fff, 1822px 1962px #fff, 1036px 1439px #fff, 132px 588px #fff,
    766px 1594px #fff, 1598px 1334px #fff, 1018px 1801px #fff, 799px 634px #fff,
    1904px 346px #fff, 641px 1688px #fff, 1056px 1180px #fff, 1126px 650px #fff,
    776px 1970px #fff, 671px 349px #fff, 1137px 930px #fff, 67px 1674px #fff,
    667px 72px #fff, 1029px 379px #fff, 915px 1247px #fff, 546px 1069px #fff,
    300px 810px #fff, 490px 44px #fff, 1953px 1151px #fff, 372px 1302px #fff,
    19px 1867px #fff, 1444px 778px #fff, 902px 133px #fff, 1092px 274px #fff,
    1457px 175px #fff, 436px 718px #fff, 593px 585px #fff, 954px 1825px #fff,
    771px 1239px #fff, 1856px 1396px #fff, 403px 627px #fff, 929px 1691px #fff,
    176px 191px #fff, 136px 1338px #fff, 275px 386px #fff, 1461px 356px #fff,
    608px 621px #fff, 1833px 1252px #fff, 1342px 130px #fff, 1534px 622px #fff,
    1302px 450px #fff, 645px 1625px #fff, 252px 1910px #fff, 1946px 1404px #fff,
    172px 456px #fff, 385px 521px #fff, 741px 1178px #fff, 391px 1274px #fff,
    575px 1515px #fff, 1606px 1234px #fff, 227px 1884px #fff, 1185px 462px #fff,
    1994px 811px #fff, 921px 1854px #fff, 505px 482px #fff, 1094px 1695px #fff,
    1951px 34px #fff, 109px 1264px #fff, 1436px 640px #fff, 469px 1593px #fff,
    1571px 549px #fff, 1543px 1971px #fff, 1525px 380px #fff, 1213px 1887px #fff,
    189px 248px #fff, 310px 1574px #fff, 1254px 1190px #fff, 1340px 1793px #fff,
    1610px 1736px #fff, 166px 851px #fff, 1984px 563px #fff, 62px 1916px #fff,
    1650px 439px #fff, 973px 741px #fff, 633px 1876px #fff, 435px 412px #fff,
    1085px 465px #fff, 577px 813px #fff, 54px 14px #fff, 1194px 571px #fff,
    346px 1793px #fff, 1614px 1723px #fff, 991px 991px #fff, 179px 1712px #fff,
    1489px 873px #fff, 32px 368px #fff, 1444px 1068px #fff, 1658px 1592px #fff,
    498px 1618px #fff, 793px 1282px #fff, 1424px 929px #fff, 1237px 243px #fff,
    602px 1959px #fff, 1309px 501px #fff, 332px 510px #fff, 1616px 485px #fff,
    669px 1702px #fff, 557px 813px #fff, 1940px 133px #fff, 588px 94px #fff,
    767px 1506px #fff, 1915px 1244px #fff, 443px 1524px #fff, 517px 1005px #fff,
    1947px 926px #fff, 1156px 641px #fff, 929px 648px #fff, 1823px 601px #fff,
    1635px 742px #fff, 63px 1544px #fff, 276px 501px #fff, 1296px 1533px #fff,
    325px 789px #fff, 1037px 718px #fff, 1860px 294px #fff, 1312px 1661px #fff,
    1172px 848px #fff, 131px 1646px #fff, 1027px 547px #fff, 369px 1955px #fff,
    1476px 331px #fff, 380px 823px #fff, 345px 1756px #fff, 995px 1750px #fff,
    998px 1602px #fff, 588px 431px #fff, 793px 545px #fff, 490px 1076px #fff,
    500px 388px #fff, 1306px 1933px #fff, 1004px 476px #fff, 190px 1654px #fff,
    154px 54px #fff, 1136px 1220px #fff, 867px 1647px #fff, 1897px 1799px #fff,
    1597px 1911px #fff, 1773px 1px #fff, 1364px 1258px #fff, 1453px 929px #fff,
    1253px 441px #fff, 1016px 1972px #fff, 1816px 486px #fff, 1552px 7px #fff,
    619px 1570px #fff, 830px 1828px #fff, 273px 910px #fff, 1761px 618px #fff,
    211px 594px #fff, 1089px 736px #fff, 1277px 173px #fff, 830px 679px #fff,
    1309px 896px #fff, 1991px 1055px #fff, 152px 287px #fff, 637px 142px #fff,
    1303px 1959px #fff, 563px 579px #fff, 545px 1225px #fff, 1551px 1050px #fff,
    1557px 1553px #fff, 656px 945px #fff, 1890px 816px #fff, 1711px 1497px #fff,
    1447px 1506px #fff, 895px 162px #fff, 1864px 1981px #fff, 361px 344px #fff,
    1103px 68px #fff, 1399px 1119px #fff, 885px 69px #fff, 1440px 1413px #fff,
    338px 1843px #fff, 1960px 1338px #fff, 1727px 1213px #fff, 460px 1448px #fff,
    1642px 1268px #fff, 753px 1183px #fff, 1883px 1392px #fff, 1100px 819px #fff,
    1222px 1276px #fff, 963px 755px #fff, 292px 1468px #fff, 1458px 91px #fff,
    1072px 1788px #fff, 256px 892px #fff, 360px 784px #fff, 1408px 1415px #fff,
    382px 1831px #fff, 623px 262px #fff, 1543px 569px #fff, 198px 583px #fff,
    342px 1308px #fff, 1717px 762px #fff, 1873px 1490px #fff, 1899px 678px #fff,
    1530px 969px #fff, 866px 886px #fff, 950px 1001px #fff, 1034px 1458px #fff,
    1385px 835px #fff, 880px 265px #fff, 631px 527px #fff, 930px 1443px #fff,
    1163px 1868px #fff, 1203px 407px #fff, 1872px 923px #fff, 325px 474px #fff,
    496px 922px #fff, 1899px 398px #fff, 2px 909px #fff, 1323px 498px #fff,
    1321px 404px #fff, 1502px 593px #fff, 986px 1061px #fff, 712px 726px #fff,
    15px 1914px #fff, 1106px 1697px #fff, 269px 1905px #fff, 1862px 1887px #fff,
    841px 176px #fff, 1732px 434px #fff, 1623px 443px #fff, 704px 481px #fff,
    925px 1471px #fff, 963px 713px #fff, 1563px 609px #fff, 1287px 58px #fff,
    1664px 1587px #fff, 6px 1164px #fff, 237px 1002px #fff, 1042px 1806px #fff,
    1300px 83px #fff, 586px 1376px #fff, 1473px 20px #fff, 635px 1066px #fff,
    511px 1636px #fff, 1718px 852px #fff, 464px 790px #fff, 1514px 1188px #fff,
    1963px 439px #fff, 1659px 188px #fff, 1818px 1472px #fff, 1877px 1322px #fff,
    1766px 851px #fff, 862px 979px #fff, 1702px 1764px #fff, 1305px 783px #fff,
    207px 1641px #fff, 1680px 439px #fff, 1773px 793px #fff, 1401px 1997px #fff,
    153px 865px #fff, 230px 229px #fff, 1931px 1293px #fff, 1733px 400px #fff,
    1744px 1960px #fff, 1745px 545px #fff, 699px 1783px #fff, 1946px 894px #fff,
    1198px 325px #fff, 946px 339px #fff, 1113px 570px #fff, 166px 862px #fff,
    1124px 1536px #fff, 1047px 630px #fff, 536px 34px #fff, 1164px 102px #fff,
    1237px 941px #fff, 1306px 941px #fff, 1232px 1469px #fff, 1278px 808px #fff,
    820px 1076px #fff, 1169px 619px #fff, 824px 787px #fff, 1145px 1561px #fff,
    1828px 335px #fff, 186px 1412px #fff, 856px 1103px #fff, 144px 46px #fff,
    273px 1780px #fff, 660px 1729px #fff, 1629px 1215px #fff, 139px 1536px #fff,
    1091px 1698px #fff, 490px 718px #fff, 210px 596px #fff, 78px 424px #fff,
    114px 171px #fff, 596px 1491px #fff, 1678px 1626px #fff, 321px 644px #fff,
    183px 543px #fff, 1106px 1172px #fff, 1480px 1681px #fff, 1410px 761px #fff,
    1621px 1663px #fff, 1683px 776px #fff, 553px 172px #fff, 1021px 100px #fff,
    1501px 240px #fff, 866px 1169px #fff, 583px 274px #fff, 591px 1298px #fff,
    1438px 1010px #fff, 683px 1403px #fff, 1187px 1336px #fff, 801px 790px #fff,
    859px 96px #fff, 167px 1853px #fff, 1947px 246px #fff, 98px 225px #fff,
    1707px 868px #fff, 204px 861px #fff, 1981px 614px #fff, 657px 49px #fff,
    1278px 524px #fff, 1236px 1153px #fff, 833px 1382px #fff, 1571px 671px #fff,
    944px 250px #fff, 1448px 733px #fff, 616px 958px #fff, 979px 1047px #fff,
    365px 586px #fff, 604px 1805px #fff, 1734px 1230px #fff, 1414px 669px #fff,
    89px 661px #fff, 212px 1662px #fff, 50px 481px #fff, 1213px 447px #fff,
    237px 1890px #fff, 545px 307px #fff, 1646px 1893px #fff, 1865px 1713px #fff,
    1916px 349px #fff, 682px 232px #fff, 1209px 686px #fff, 499px 1688px #fff,
    1974px 980px #fff, 592px 1788px #fff, 1221px 982px #fff, 1768px 1276px #fff,
    1883px 1446px #fff, 1274px 639px #fff, 1582px 1184px #fff, 640px 505px #fff,
    1422px 1586px #fff, 207px 1516px #fff, 279px 420px #fff, 1452px 522px #fff,
    1312px 1739px #fff, 235px 539px #fff, 437px 261px #fff, 1737px 1178px #fff,
    1127px 779px #fff, 1227px 555px #fff, 1435px 773px #fff, 1625px 1575px #fff,
    890px 458px #fff, 420px 1270px #fff, 1230px 1120px #fff, 840px 1454px #fff,
    1776px 797px #fff, 1784px 1115px #fff, 379px 958px #fff, 230px 1718px #fff,
    581px 1275px #fff, 1802px 1549px #fff, 1105px 958px #fff, 520px 226px #fff,
    221px 839px #fff, 1483px 1075px #fff, 1216px 632px #fff, 724px 1346px #fff,
    1348px 1221px #fff, 496px 1470px #fff, 1999px 1929px #fff, 1319px 445px #fff,
    1385px 380px #fff, 1025px 1708px #fff, 261px 462px #fff, 322px 1168px #fff,
    1818px 1365px #fff, 216px 1111px #fff, 1123px 670px #fff, 1196px 227px #fff,
    111px 1237px #fff, 1908px 262px #fff, 1602px 1310px #fff, 1447px 1260px #fff,
    1115px 1403px #fff, 1778px 1498px #fff, 444px 1017px #fff, 792px 255px #fff,
    1099px 1875px #fff, 1516px 727px #fff, 1211px 1351px #fff, 180px 1159px #fff,
    1376px 1705px #fff, 1041px 1684px #fff, 920px 62px #fff, 1652px 459px #fff,
    409px 538px #fff, 1693px 650px #fff, 1966px 1433px #fff, 1123px 383px #fff,
    1390px 986px #fff, 784px 912px #fff, 1650px 1432px #fff, 1209px 1051px #fff,
    575px 1422px #fff, 1352px 991px #fff, 1958px 772px #fff, 570px 1657px #fff,
    1418px 1302px #fff, 88px 617px #fff, 1633px 996px #fff, 1358px 1605px #fff,
    1399px 565px #fff, 974px 1794px #fff, 886px 737px #fff, 1550px 485px #fff,
    764px 1394px #fff, 553px 1918px #fff, 1714px 1771px #fff, 882px 846px #fff,
    258px 1579px #fff, 525px 1119px #fff, 532px 1005px #fff, 286px 731px #fff,
    1292px 940px #fff, 1203px 60px #fff, 939px 1245px #fff, 1610px 409px #fff,
    473px 394px #fff, 841px 339px #fff, 587px 532px #fff, 1407px 1720px #fff,
    899px 746px #fff, 1714px 1377px #fff, 591px 204px #fff, 1544px 1740px #fff,
    1419px 1582px #fff, 335px 1257px #fff, 824px 1593px #fff, 821px 1190px #fff,
    1119px 734px #fff, 501px 1308px #fff, 932px 740px #fff, 1656px 55px #fff,
    266px 778px #fff, 1840px 1005px #fff, 76px 807px #fff, 289px 539px #fff,
    1513px 322px #fff, 66px 413px #fff, 1876px 1268px #fff, 1805px 565px #fff,
    919px 809px #fff, 1428px 445px #fff, 876px 799px #fff, 603px 667px #fff,
    847px 6px #fff, 1951px 887px #fff, 1611px 629px #fff, 1773px 1014px #fff,
    1693px 634px #fff, 534px 863px #fff, 396px 96px #fff, 1643px 723px #fff,
    1054px 926px #fff, 17px 1842px #fff, 1002px 1763px #fff, 832px 404px #fff,
    1787px 900px #fff, 71px 1485px #fff, 685px 1995px #fff, 1533px 1227px #fff,
    917px 1648px #fff, 1843px 1156px #fff, 649px 1653px #fff, 1816px 864px #fff,
    1603px 164px #fff, 845px 667px #fff, 1916px 1311px #fff, 900px 1137px #fff,
    556px 1942px #fff, 1632px 1311px #fff, 1163px 961px #fff, 1086px 528px #fff,
    202px 1380px #fff, 508px 155px #fff, 1330px 1282px #fff, 1188px 86px #fff,
    1938px 170px #fff, 1580px 1100px #fff, 1698px 1068px #fff,
    1482px 1894px #fff, 456px 1095px #fff, 660px 558px #fff, 1610px 1736px #fff,
    177px 1085px #fff, 356px 632px #fff, 557px 549px #fff, 1188px 1985px #fff,
    1174px 1268px #fff, 715px 978px #fff, 438px 594px #fff, 1990px 900px #fff,
    1127px 492px #fff, 834px 1906px #fff, 386px 254px #fff, 1616px 1940px #fff,
    1375px 45px #fff, 151px 1815px #fff, 1436px 974px #fff, 604px 1359px #fff,
    787px 568px #fff, 515px 1682px #fff, 1164px 1127px #fff, 1057px 1957px #fff,
    1855px 281px #fff, 786px 366px #fff, 1302px 1620px #fff, 122px 989px #fff,
    869px 1938px #fff, 806px 512px #fff, 493px 1062px #fff, 1660px 1784px #fff,
    1252px 260px #fff, 1574px 1291px #fff, 1587px 876px #fff, 149px 352px #fff,
    1325px 757px #fff, 1933px 288px #fff, 141px 1921px #fff, 1205px 1509px #fff,
    7px 1281px #fff, 1539px 1038px #fff, 320px 686px #fff, 1186px 1001px #fff,
    1094px 1489px #fff, 619px 1267px #fff, 712px 735px #fff, 1288px 1845px #fff,
    1437px 569px #fff, 1102px 1757px #fff, 1761px 744px #fff, 1134px 1252px #fff,
    449px 1186px #fff, 237px 864px #fff, 1719px 730px #fff, 1360px 227px #fff,
    354px 1289px #fff, 1032px 1551px #fff, 577px 547px #fff, 1102px 585px #fff,
    1150px 1591px #fff, 801px 1343px #fff, 819px 121px #fff, 4px 201px #fff,
    612px 99px #fff, 832px 774px #fff, 1353px 1182px #fff, 889px 1979px #fff,
    288px 1313px #fff, 1393px 144px #fff, 149px 1412px #fff, 1500px 1908px #fff,
    635px 1217px #fff, 876px 918px #fff, 1480px 407px #fff, 56px 1290px #fff,
    136px 1855px #fff, 483px 1531px #fff, 1649px 947px #fff, 217px 1800px #fff,
    546px 1507px #fff, 864px 332px #fff, 1910px 1361px #fff, 1193px 1384px #fff,
    621px 8px #fff, 1219px 890px #fff, 1961px 801px #fff, 1013px 1552px #fff,
    336px 1358px #fff, 371px 1886px #fff, 994px 823px #fff, 1192px 54px #fff,
    1478px 1716px #fff, 1299px 1662px #fff, 50px 900px #fff, 1224px 271px #fff,
    991px 1504px #fff, 1663px 1647px #fff, 80px 208px #fff, 1863px 897px #fff,
    1569px 1749px #fff, 1155px 861px #fff, 1244px 948px #fff, 1066px 1154px #fff,
    1733px 79px #fff, 600px 746px #fff, 105px 30px #fff, 856px 1233px #fff,
    128px 1094px #fff, 1701px 925px #fff, 786px 1764px #fff, 996px 743px #fff,
    1229px 757px #fff, 817px 1407px #fff, 1442px 532px #fff, 252px 1426px #fff,
    1749px 334px #fff, 846px 792px #fff, 226px 1089px #fff, 51px 643px #fff,
    1090px 1107px #fff, 1278px 759px #fff, 1193px 809px #fff, 171px 1503px #fff,
    833px 159px #fff, 417px 536px #fff, 208px 590px #fff, 143px 1035px #fff,
    1346px 518px #fff, 880px 1632px #fff, 911px 1918px #fff, 631px 656px #fff,
    1713px 1888px #fff, 562px 937px #fff, 1970px 1018px #fff, 459px 41px #fff,
    668px 1288px #fff, 1073px 173px #fff, 330px 1957px #fff, 1009px 343px #fff,
    361px 386px #fff, 679px 850px #fff, 510px 432px #fff, 1426px 1348px #fff,
    1710px 715px #fff, 369px 43px #fff, 175px 1554px #fff, 1498px 97px #fff,
    1993px 565px #fff, 1826px 83px #fff, 2px 1887px #fff, 214px 1770px #fff,
    1269px 1598px #fff, 1865px 1363px #fff, 232px 796px #fff, 1599px 280px #fff,
    1900px 1991px #fff, 1916px 238px #fff, 1518px 599px #fff, 713px 1220px #fff,
    757px 1552px #fff, 1106px 1649px #fff, 472px 816px #fff, 805px 70px #fff,
    574px 436px #fff, 190px 1564px #fff, 1235px 633px #fff, 1877px 267px #fff,
    1768px 1534px #fff, 2000px 770px #fff, 212px 1718px #fff, 280px 1363px #fff,
    1439px 1728px #fff, 805px 1486px #fff, 804px 1212px #fff, 1767px 1008px #fff,
    501px 512px #fff, 958px 359px #fff, 683px 1265px #fff, 1532px 1769px #fff,
    1039px 718px #fff, 1589px 1877px #fff;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 161px 984px #fff, 522px 1728px #fff, 1700px 624px #fff,
    1789px 1350px #fff, 1981px 462px #fff, 505px 1535px #fff, 1909px 1140px #fff,
    1214px 273px #fff, 1093px 113px #fff, 1563px 1703px #fff, 1516px 1370px #fff,
    275px 1829px #fff, 1177px 463px #fff, 403px 1615px #fff, 1764px 1687px #fff,
    905px 1174px #fff, 1822px 1962px #fff, 1036px 1439px #fff, 132px 588px #fff,
    766px 1594px #fff, 1598px 1334px #fff, 1018px 1801px #fff, 799px 634px #fff,
    1904px 346px #fff, 641px 1688px #fff, 1056px 1180px #fff, 1126px 650px #fff,
    776px 1970px #fff, 671px 349px #fff, 1137px 930px #fff, 67px 1674px #fff,
    667px 72px #fff, 1029px 379px #fff, 915px 1247px #fff, 546px 1069px #fff,
    300px 810px #fff, 490px 44px #fff, 1953px 1151px #fff, 372px 1302px #fff,
    19px 1867px #fff, 1444px 778px #fff, 902px 133px #fff, 1092px 274px #fff,
    1457px 175px #fff, 436px 718px #fff, 593px 585px #fff, 954px 1825px #fff,
    771px 1239px #fff, 1856px 1396px #fff, 403px 627px #fff, 929px 1691px #fff,
    176px 191px #fff, 136px 1338px #fff, 275px 386px #fff, 1461px 356px #fff,
    608px 621px #fff, 1833px 1252px #fff, 1342px 130px #fff, 1534px 622px #fff,
    1302px 450px #fff, 645px 1625px #fff, 252px 1910px #fff, 1946px 1404px #fff,
    172px 456px #fff, 385px 521px #fff, 741px 1178px #fff, 391px 1274px #fff,
    575px 1515px #fff, 1606px 1234px #fff, 227px 1884px #fff, 1185px 462px #fff,
    1994px 811px #fff, 921px 1854px #fff, 505px 482px #fff, 1094px 1695px #fff,
    1951px 34px #fff, 109px 1264px #fff, 1436px 640px #fff, 469px 1593px #fff,
    1571px 549px #fff, 1543px 1971px #fff, 1525px 380px #fff, 1213px 1887px #fff,
    189px 248px #fff, 310px 1574px #fff, 1254px 1190px #fff, 1340px 1793px #fff,
    1610px 1736px #fff, 166px 851px #fff, 1984px 563px #fff, 62px 1916px #fff,
    1650px 439px #fff, 973px 741px #fff, 633px 1876px #fff, 435px 412px #fff,
    1085px 465px #fff, 577px 813px #fff, 54px 14px #fff, 1194px 571px #fff,
    346px 1793px #fff, 1614px 1723px #fff, 991px 991px #fff, 179px 1712px #fff,
    1489px 873px #fff, 32px 368px #fff, 1444px 1068px #fff, 1658px 1592px #fff,
    498px 1618px #fff, 793px 1282px #fff, 1424px 929px #fff, 1237px 243px #fff,
    602px 1959px #fff, 1309px 501px #fff, 332px 510px #fff, 1616px 485px #fff,
    669px 1702px #fff, 557px 813px #fff, 1940px 133px #fff, 588px 94px #fff,
    767px 1506px #fff, 1915px 1244px #fff, 443px 1524px #fff, 517px 1005px #fff,
    1947px 926px #fff, 1156px 641px #fff, 929px 648px #fff, 1823px 601px #fff,
    1635px 742px #fff, 63px 1544px #fff, 276px 501px #fff, 1296px 1533px #fff,
    325px 789px #fff, 1037px 718px #fff, 1860px 294px #fff, 1312px 1661px #fff,
    1172px 848px #fff, 131px 1646px #fff, 1027px 547px #fff, 369px 1955px #fff,
    1476px 331px #fff, 380px 823px #fff, 345px 1756px #fff, 995px 1750px #fff,
    998px 1602px #fff, 588px 431px #fff, 793px 545px #fff, 490px 1076px #fff,
    500px 388px #fff, 1306px 1933px #fff, 1004px 476px #fff, 190px 1654px #fff,
    154px 54px #fff, 1136px 1220px #fff, 867px 1647px #fff, 1897px 1799px #fff,
    1597px 1911px #fff, 1773px 1px #fff, 1364px 1258px #fff, 1453px 929px #fff,
    1253px 441px #fff, 1016px 1972px #fff, 1816px 486px #fff, 1552px 7px #fff,
    619px 1570px #fff, 830px 1828px #fff, 273px 910px #fff, 1761px 618px #fff,
    211px 594px #fff, 1089px 736px #fff, 1277px 173px #fff, 830px 679px #fff,
    1309px 896px #fff, 1991px 1055px #fff, 152px 287px #fff, 637px 142px #fff,
    1303px 1959px #fff, 563px 579px #fff, 545px 1225px #fff, 1551px 1050px #fff,
    1557px 1553px #fff, 656px 945px #fff, 1890px 816px #fff, 1711px 1497px #fff,
    1447px 1506px #fff, 895px 162px #fff, 1864px 1981px #fff, 361px 344px #fff,
    1103px 68px #fff, 1399px 1119px #fff, 885px 69px #fff, 1440px 1413px #fff,
    338px 1843px #fff, 1960px 1338px #fff, 1727px 1213px #fff, 460px 1448px #fff,
    1642px 1268px #fff, 753px 1183px #fff, 1883px 1392px #fff, 1100px 819px #fff,
    1222px 1276px #fff, 963px 755px #fff, 292px 1468px #fff, 1458px 91px #fff,
    1072px 1788px #fff, 256px 892px #fff, 360px 784px #fff, 1408px 1415px #fff,
    382px 1831px #fff, 623px 262px #fff, 1543px 569px #fff, 198px 583px #fff,
    342px 1308px #fff, 1717px 762px #fff, 1873px 1490px #fff, 1899px 678px #fff,
    1530px 969px #fff, 866px 886px #fff, 950px 1001px #fff, 1034px 1458px #fff,
    1385px 835px #fff, 880px 265px #fff, 631px 527px #fff, 930px 1443px #fff,
    1163px 1868px #fff, 1203px 407px #fff, 1872px 923px #fff, 325px 474px #fff,
    496px 922px #fff, 1899px 398px #fff, 2px 909px #fff, 1323px 498px #fff,
    1321px 404px #fff, 1502px 593px #fff, 986px 1061px #fff, 712px 726px #fff,
    15px 1914px #fff, 1106px 1697px #fff, 269px 1905px #fff, 1862px 1887px #fff,
    841px 176px #fff, 1732px 434px #fff, 1623px 443px #fff, 704px 481px #fff,
    925px 1471px #fff, 963px 713px #fff, 1563px 609px #fff, 1287px 58px #fff,
    1664px 1587px #fff, 6px 1164px #fff, 237px 1002px #fff, 1042px 1806px #fff,
    1300px 83px #fff, 586px 1376px #fff, 1473px 20px #fff, 635px 1066px #fff,
    511px 1636px #fff, 1718px 852px #fff, 464px 790px #fff, 1514px 1188px #fff,
    1963px 439px #fff, 1659px 188px #fff, 1818px 1472px #fff, 1877px 1322px #fff,
    1766px 851px #fff, 862px 979px #fff, 1702px 1764px #fff, 1305px 783px #fff,
    207px 1641px #fff, 1680px 439px #fff, 1773px 793px #fff, 1401px 1997px #fff,
    153px 865px #fff, 230px 229px #fff, 1931px 1293px #fff, 1733px 400px #fff,
    1744px 1960px #fff, 1745px 545px #fff, 699px 1783px #fff, 1946px 894px #fff,
    1198px 325px #fff, 946px 339px #fff, 1113px 570px #fff, 166px 862px #fff,
    1124px 1536px #fff, 1047px 630px #fff, 536px 34px #fff, 1164px 102px #fff,
    1237px 941px #fff, 1306px 941px #fff, 1232px 1469px #fff, 1278px 808px #fff,
    820px 1076px #fff, 1169px 619px #fff, 824px 787px #fff, 1145px 1561px #fff,
    1828px 335px #fff, 186px 1412px #fff, 856px 1103px #fff, 144px 46px #fff,
    273px 1780px #fff, 660px 1729px #fff, 1629px 1215px #fff, 139px 1536px #fff,
    1091px 1698px #fff, 490px 718px #fff, 210px 596px #fff, 78px 424px #fff,
    114px 171px #fff, 596px 1491px #fff, 1678px 1626px #fff, 321px 644px #fff,
    183px 543px #fff, 1106px 1172px #fff, 1480px 1681px #fff, 1410px 761px #fff,
    1621px 1663px #fff, 1683px 776px #fff, 553px 172px #fff, 1021px 100px #fff,
    1501px 240px #fff, 866px 1169px #fff, 583px 274px #fff, 591px 1298px #fff,
    1438px 1010px #fff, 683px 1403px #fff, 1187px 1336px #fff, 801px 790px #fff,
    859px 96px #fff, 167px 1853px #fff, 1947px 246px #fff, 98px 225px #fff,
    1707px 868px #fff, 204px 861px #fff, 1981px 614px #fff, 657px 49px #fff,
    1278px 524px #fff, 1236px 1153px #fff, 833px 1382px #fff, 1571px 671px #fff,
    944px 250px #fff, 1448px 733px #fff, 616px 958px #fff, 979px 1047px #fff,
    365px 586px #fff, 604px 1805px #fff, 1734px 1230px #fff, 1414px 669px #fff,
    89px 661px #fff, 212px 1662px #fff, 50px 481px #fff, 1213px 447px #fff,
    237px 1890px #fff, 545px 307px #fff, 1646px 1893px #fff, 1865px 1713px #fff,
    1916px 349px #fff, 682px 232px #fff, 1209px 686px #fff, 499px 1688px #fff,
    1974px 980px #fff, 592px 1788px #fff, 1221px 982px #fff, 1768px 1276px #fff,
    1883px 1446px #fff, 1274px 639px #fff, 1582px 1184px #fff, 640px 505px #fff,
    1422px 1586px #fff, 207px 1516px #fff, 279px 420px #fff, 1452px 522px #fff,
    1312px 1739px #fff, 235px 539px #fff, 437px 261px #fff, 1737px 1178px #fff,
    1127px 779px #fff, 1227px 555px #fff, 1435px 773px #fff, 1625px 1575px #fff,
    890px 458px #fff, 420px 1270px #fff, 1230px 1120px #fff, 840px 1454px #fff,
    1776px 797px #fff, 1784px 1115px #fff, 379px 958px #fff, 230px 1718px #fff,
    581px 1275px #fff, 1802px 1549px #fff, 1105px 958px #fff, 520px 226px #fff,
    221px 839px #fff, 1483px 1075px #fff, 1216px 632px #fff, 724px 1346px #fff,
    1348px 1221px #fff, 496px 1470px #fff, 1999px 1929px #fff, 1319px 445px #fff,
    1385px 380px #fff, 1025px 1708px #fff, 261px 462px #fff, 322px 1168px #fff,
    1818px 1365px #fff, 216px 1111px #fff, 1123px 670px #fff, 1196px 227px #fff,
    111px 1237px #fff, 1908px 262px #fff, 1602px 1310px #fff, 1447px 1260px #fff,
    1115px 1403px #fff, 1778px 1498px #fff, 444px 1017px #fff, 792px 255px #fff,
    1099px 1875px #fff, 1516px 727px #fff, 1211px 1351px #fff, 180px 1159px #fff,
    1376px 1705px #fff, 1041px 1684px #fff, 920px 62px #fff, 1652px 459px #fff,
    409px 538px #fff, 1693px 650px #fff, 1966px 1433px #fff, 1123px 383px #fff,
    1390px 986px #fff, 784px 912px #fff, 1650px 1432px #fff, 1209px 1051px #fff,
    575px 1422px #fff, 1352px 991px #fff, 1958px 772px #fff, 570px 1657px #fff,
    1418px 1302px #fff, 88px 617px #fff, 1633px 996px #fff, 1358px 1605px #fff,
    1399px 565px #fff, 974px 1794px #fff, 886px 737px #fff, 1550px 485px #fff,
    764px 1394px #fff, 553px 1918px #fff, 1714px 1771px #fff, 882px 846px #fff,
    258px 1579px #fff, 525px 1119px #fff, 532px 1005px #fff, 286px 731px #fff,
    1292px 940px #fff, 1203px 60px #fff, 939px 1245px #fff, 1610px 409px #fff,
    473px 394px #fff, 841px 339px #fff, 587px 532px #fff, 1407px 1720px #fff,
    899px 746px #fff, 1714px 1377px #fff, 591px 204px #fff, 1544px 1740px #fff,
    1419px 1582px #fff, 335px 1257px #fff, 824px 1593px #fff, 821px 1190px #fff,
    1119px 734px #fff, 501px 1308px #fff, 932px 740px #fff, 1656px 55px #fff,
    266px 778px #fff, 1840px 1005px #fff, 76px 807px #fff, 289px 539px #fff,
    1513px 322px #fff, 66px 413px #fff, 1876px 1268px #fff, 1805px 565px #fff,
    919px 809px #fff, 1428px 445px #fff, 876px 799px #fff, 603px 667px #fff,
    847px 6px #fff, 1951px 887px #fff, 1611px 629px #fff, 1773px 1014px #fff,
    1693px 634px #fff, 534px 863px #fff, 396px 96px #fff, 1643px 723px #fff,
    1054px 926px #fff, 17px 1842px #fff, 1002px 1763px #fff, 832px 404px #fff,
    1787px 900px #fff, 71px 1485px #fff, 685px 1995px #fff, 1533px 1227px #fff,
    917px 1648px #fff, 1843px 1156px #fff, 649px 1653px #fff, 1816px 864px #fff,
    1603px 164px #fff, 845px 667px #fff, 1916px 1311px #fff, 900px 1137px #fff,
    556px 1942px #fff, 1632px 1311px #fff, 1163px 961px #fff, 1086px 528px #fff,
    202px 1380px #fff, 508px 155px #fff, 1330px 1282px #fff, 1188px 86px #fff,
    1938px 170px #fff, 1580px 1100px #fff, 1698px 1068px #fff,
    1482px 1894px #fff, 456px 1095px #fff, 660px 558px #fff, 1610px 1736px #fff,
    177px 1085px #fff, 356px 632px #fff, 557px 549px #fff, 1188px 1985px #fff,
    1174px 1268px #fff, 715px 978px #fff, 438px 594px #fff, 1990px 900px #fff,
    1127px 492px #fff, 834px 1906px #fff, 386px 254px #fff, 1616px 1940px #fff,
    1375px 45px #fff, 151px 1815px #fff, 1436px 974px #fff, 604px 1359px #fff,
    787px 568px #fff, 515px 1682px #fff, 1164px 1127px #fff, 1057px 1957px #fff,
    1855px 281px #fff, 786px 366px #fff, 1302px 1620px #fff, 122px 989px #fff,
    869px 1938px #fff, 806px 512px #fff, 493px 1062px #fff, 1660px 1784px #fff,
    1252px 260px #fff, 1574px 1291px #fff, 1587px 876px #fff, 149px 352px #fff,
    1325px 757px #fff, 1933px 288px #fff, 141px 1921px #fff, 1205px 1509px #fff,
    7px 1281px #fff, 1539px 1038px #fff, 320px 686px #fff, 1186px 1001px #fff,
    1094px 1489px #fff, 619px 1267px #fff, 712px 735px #fff, 1288px 1845px #fff,
    1437px 569px #fff, 1102px 1757px #fff, 1761px 744px #fff, 1134px 1252px #fff,
    449px 1186px #fff, 237px 864px #fff, 1719px 730px #fff, 1360px 227px #fff,
    354px 1289px #fff, 1032px 1551px #fff, 577px 547px #fff, 1102px 585px #fff,
    1150px 1591px #fff, 801px 1343px #fff, 819px 121px #fff, 4px 201px #fff,
    612px 99px #fff, 832px 774px #fff, 1353px 1182px #fff, 889px 1979px #fff,
    288px 1313px #fff, 1393px 144px #fff, 149px 1412px #fff, 1500px 1908px #fff,
    635px 1217px #fff, 876px 918px #fff, 1480px 407px #fff, 56px 1290px #fff,
    136px 1855px #fff, 483px 1531px #fff, 1649px 947px #fff, 217px 1800px #fff,
    546px 1507px #fff, 864px 332px #fff, 1910px 1361px #fff, 1193px 1384px #fff,
    621px 8px #fff, 1219px 890px #fff, 1961px 801px #fff, 1013px 1552px #fff,
    336px 1358px #fff, 371px 1886px #fff, 994px 823px #fff, 1192px 54px #fff,
    1478px 1716px #fff, 1299px 1662px #fff, 50px 900px #fff, 1224px 271px #fff,
    991px 1504px #fff, 1663px 1647px #fff, 80px 208px #fff, 1863px 897px #fff,
    1569px 1749px #fff, 1155px 861px #fff, 1244px 948px #fff, 1066px 1154px #fff,
    1733px 79px #fff, 600px 746px #fff, 105px 30px #fff, 856px 1233px #fff,
    128px 1094px #fff, 1701px 925px #fff, 786px 1764px #fff, 996px 743px #fff,
    1229px 757px #fff, 817px 1407px #fff, 1442px 532px #fff, 252px 1426px #fff,
    1749px 334px #fff, 846px 792px #fff, 226px 1089px #fff, 51px 643px #fff,
    1090px 1107px #fff, 1278px 759px #fff, 1193px 809px #fff, 171px 1503px #fff,
    833px 159px #fff, 417px 536px #fff, 208px 590px #fff, 143px 1035px #fff,
    1346px 518px #fff, 880px 1632px #fff, 911px 1918px #fff, 631px 656px #fff,
    1713px 1888px #fff, 562px 937px #fff, 1970px 1018px #fff, 459px 41px #fff,
    668px 1288px #fff, 1073px 173px #fff, 330px 1957px #fff, 1009px 343px #fff,
    361px 386px #fff, 679px 850px #fff, 510px 432px #fff, 1426px 1348px #fff,
    1710px 715px #fff, 369px 43px #fff, 175px 1554px #fff, 1498px 97px #fff,
    1993px 565px #fff, 1826px 83px #fff, 2px 1887px #fff, 214px 1770px #fff,
    1269px 1598px #fff, 1865px 1363px #fff, 232px 796px #fff, 1599px 280px #fff,
    1900px 1991px #fff, 1916px 238px #fff, 1518px 599px #fff, 713px 1220px #fff,
    757px 1552px #fff, 1106px 1649px #fff, 472px 816px #fff, 805px 70px #fff,
    574px 436px #fff, 190px 1564px #fff, 1235px 633px #fff, 1877px 267px #fff,
    1768px 1534px #fff, 2000px 770px #fff, 212px 1718px #fff, 280px 1363px #fff,
    1439px 1728px #fff, 805px 1486px #fff, 804px 1212px #fff, 1767px 1008px #fff,
    501px 512px #fff, 958px 359px #fff, 683px 1265px #fff, 1532px 1769px #fff,
    1039px 718px #fff, 1589px 1877px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1564px 1731px #fff, 1784px 389px #fff, 561px 350px #fff,
    1600px 1561px #fff, 561px 500px #fff, 1179px 825px #fff, 1788px 976px #fff,
    792px 1374px #fff, 352px 247px #fff, 1517px 1402px #fff, 6px 651px #fff,
    43px 458px #fff, 405px 1772px #fff, 376px 1119px #fff, 1350px 1896px #fff,
    780px 1691px #fff, 1746px 1121px #fff, 73px 92px #fff, 1923px 189px #fff,
    67px 1378px #fff, 462px 255px #fff, 450px 310px #fff, 474px 1822px #fff,
    1198px 160px #fff, 1448px 558px #fff, 736px 114px #fff, 911px 696px #fff,
    515px 765px #fff, 1502px 1191px #fff, 455px 1251px #fff, 790px 879px #fff,
    129px 1948px #fff, 1939px 1034px #fff, 944px 914px #fff, 144px 333px #fff,
    1456px 698px #fff, 1523px 1245px #fff, 266px 247px #fff, 62px 119px #fff,
    368px 1057px #fff, 710px 668px #fff, 841px 276px #fff, 95px 1232px #fff,
    1392px 1530px #fff, 1052px 1948px #fff, 1365px 734px #fff, 1086px 379px #fff,
    937px 1031px #fff, 661px 356px #fff, 1738px 482px #fff, 1846px 9px #fff,
    854px 1713px #fff, 1530px 449px #fff, 718px 111px #fff, 325px 188px #fff,
    248px 1408px #fff, 27px 838px #fff, 771px 512px #fff, 369px 1216px #fff,
    1788px 1703px #fff, 1673px 1431px #fff, 408px 1097px #fff, 678px 627px #fff,
    1010px 1161px #fff, 1250px 552px #fff, 1910px 1739px #fff, 4px 730px #fff,
    780px 1628px #fff, 185px 1967px #fff, 666px 82px #fff, 379px 1196px #fff,
    83px 1360px #fff, 780px 1965px #fff, 1215px 409px #fff, 896px 739px #fff,
    818px 128px #fff, 1394px 44px #fff, 525px 166px #fff, 1511px 1658px #fff,
    1806px 986px #fff, 983px 1656px #fff, 1597px 1690px #fff, 1087px 514px #fff,
    1358px 1166px #fff, 856px 324px #fff, 1675px 591px #fff, 1379px 760px #fff,
    1284px 1013px #fff, 56px 1705px #fff, 1595px 944px #fff, 340px 1718px #fff,
    1826px 171px #fff, 950px 955px #fff, 1303px 642px #fff, 714px 702px #fff,
    198px 1145px #fff, 979px 1360px #fff, 1543px 1354px #fff, 880px 1143px #fff,
    1990px 1322px #fff, 1688px 144px #fff, 1529px 1090px #fff, 611px 1864px #fff,
    461px 1042px #fff, 1760px 1370px #fff, 862px 1090px #fff, 308px 228px #fff,
    1421px 470px #fff, 1800px 791px #fff, 1576px 1790px #fff, 1751px 1819px #fff,
    1035px 393px #fff, 1766px 1402px #fff, 1458px 1918px #fff,
    1445px 1643px #fff, 967px 78px #fff, 1173px 386px #fff, 1107px 1355px #fff,
    223px 1533px #fff, 1806px 741px #fff, 1980px 248px #fff, 836px 1624px #fff,
    675px 907px #fff, 1525px 1450px #fff, 1648px 200px #fff, 441px 791px #fff,
    642px 1813px #fff, 437px 985px #fff, 1483px 1498px #fff, 408px 298px #fff,
    1442px 901px #fff, 696px 1989px #fff, 1455px 387px #fff, 217px 1217px #fff,
    888px 833px #fff, 942px 601px #fff, 1410px 1247px #fff, 767px 1255px #fff,
    783px 1894px #fff, 1204px 418px #fff, 976px 1606px #fff, 1923px 983px #fff,
    1967px 829px #fff, 1694px 760px #fff, 424px 687px #fff, 1599px 18px #fff,
    845px 221px #fff, 647px 343px #fff, 1609px 677px #fff, 722px 275px #fff,
    350px 309px #fff, 978px 180px #fff, 1828px 1576px #fff, 1701px 1929px #fff,
    649px 208px #fff, 740px 663px #fff, 1675px 1466px #fff, 369px 331px #fff,
    1374px 1543px #fff, 1957px 32px #fff, 1012px 780px #fff, 1231px 1649px #fff,
    590px 1342px #fff, 319px 40px #fff, 921px 1331px #fff, 1413px 1329px #fff,
    1038px 1688px #fff, 1792px 1215px #fff, 1360px 1046px #fff,
    1887px 254px #fff, 720px 1821px #fff, 1931px 1029px #fff, 657px 294px #fff,
    569px 126px #fff, 1687px 670px #fff, 370px 1347px #fff, 1399px 972px #fff,
    1069px 1058px #fff, 1857px 388px #fff, 1561px 139px #fff, 1022px 1644px #fff,
    792px 1865px #fff, 144px 143px #fff, 1970px 5px #fff, 1878px 1475px #fff,
    135px 1373px #fff, 1334px 1335px #fff, 27px 82px #fff, 1822px 470px #fff,
    1621px 396px #fff, 1769px 1647px #fff, 1229px 1611px #fff, 693px 1269px #fff,
    1248px 1185px #fff, 782px 1845px #fff, 1873px 863px #fff, 1778px 704px #fff,
    1718px 858px #fff, 71px 88px #fff, 1442px 637px #fff;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1564px 1731px #fff, 1784px 389px #fff, 561px 350px #fff,
    1600px 1561px #fff, 561px 500px #fff, 1179px 825px #fff, 1788px 976px #fff,
    792px 1374px #fff, 352px 247px #fff, 1517px 1402px #fff, 6px 651px #fff,
    43px 458px #fff, 405px 1772px #fff, 376px 1119px #fff, 1350px 1896px #fff,
    780px 1691px #fff, 1746px 1121px #fff, 73px 92px #fff, 1923px 189px #fff,
    67px 1378px #fff, 462px 255px #fff, 450px 310px #fff, 474px 1822px #fff,
    1198px 160px #fff, 1448px 558px #fff, 736px 114px #fff, 911px 696px #fff,
    515px 765px #fff, 1502px 1191px #fff, 455px 1251px #fff, 790px 879px #fff,
    129px 1948px #fff, 1939px 1034px #fff, 944px 914px #fff, 144px 333px #fff,
    1456px 698px #fff, 1523px 1245px #fff, 266px 247px #fff, 62px 119px #fff,
    368px 1057px #fff, 710px 668px #fff, 841px 276px #fff, 95px 1232px #fff,
    1392px 1530px #fff, 1052px 1948px #fff, 1365px 734px #fff, 1086px 379px #fff,
    937px 1031px #fff, 661px 356px #fff, 1738px 482px #fff, 1846px 9px #fff,
    854px 1713px #fff, 1530px 449px #fff, 718px 111px #fff, 325px 188px #fff,
    248px 1408px #fff, 27px 838px #fff, 771px 512px #fff, 369px 1216px #fff,
    1788px 1703px #fff, 1673px 1431px #fff, 408px 1097px #fff, 678px 627px #fff,
    1010px 1161px #fff, 1250px 552px #fff, 1910px 1739px #fff, 4px 730px #fff,
    780px 1628px #fff, 185px 1967px #fff, 666px 82px #fff, 379px 1196px #fff,
    83px 1360px #fff, 780px 1965px #fff, 1215px 409px #fff, 896px 739px #fff,
    818px 128px #fff, 1394px 44px #fff, 525px 166px #fff, 1511px 1658px #fff,
    1806px 986px #fff, 983px 1656px #fff, 1597px 1690px #fff, 1087px 514px #fff,
    1358px 1166px #fff, 856px 324px #fff, 1675px 591px #fff, 1379px 760px #fff,
    1284px 1013px #fff, 56px 1705px #fff, 1595px 944px #fff, 340px 1718px #fff,
    1826px 171px #fff, 950px 955px #fff, 1303px 642px #fff, 714px 702px #fff,
    198px 1145px #fff, 979px 1360px #fff, 1543px 1354px #fff, 880px 1143px #fff,
    1990px 1322px #fff, 1688px 144px #fff, 1529px 1090px #fff, 611px 1864px #fff,
    461px 1042px #fff, 1760px 1370px #fff, 862px 1090px #fff, 308px 228px #fff,
    1421px 470px #fff, 1800px 791px #fff, 1576px 1790px #fff, 1751px 1819px #fff,
    1035px 393px #fff, 1766px 1402px #fff, 1458px 1918px #fff,
    1445px 1643px #fff, 967px 78px #fff, 1173px 386px #fff, 1107px 1355px #fff,
    223px 1533px #fff, 1806px 741px #fff, 1980px 248px #fff, 836px 1624px #fff,
    675px 907px #fff, 1525px 1450px #fff, 1648px 200px #fff, 441px 791px #fff,
    642px 1813px #fff, 437px 985px #fff, 1483px 1498px #fff, 408px 298px #fff,
    1442px 901px #fff, 696px 1989px #fff, 1455px 387px #fff, 217px 1217px #fff,
    888px 833px #fff, 942px 601px #fff, 1410px 1247px #fff, 767px 1255px #fff,
    783px 1894px #fff, 1204px 418px #fff, 976px 1606px #fff, 1923px 983px #fff,
    1967px 829px #fff, 1694px 760px #fff, 424px 687px #fff, 1599px 18px #fff,
    845px 221px #fff, 647px 343px #fff, 1609px 677px #fff, 722px 275px #fff,
    350px 309px #fff, 978px 180px #fff, 1828px 1576px #fff, 1701px 1929px #fff,
    649px 208px #fff, 740px 663px #fff, 1675px 1466px #fff, 369px 331px #fff,
    1374px 1543px #fff, 1957px 32px #fff, 1012px 780px #fff, 1231px 1649px #fff,
    590px 1342px #fff, 319px 40px #fff, 921px 1331px #fff, 1413px 1329px #fff,
    1038px 1688px #fff, 1792px 1215px #fff, 1360px 1046px #fff,
    1887px 254px #fff, 720px 1821px #fff, 1931px 1029px #fff, 657px 294px #fff,
    569px 126px #fff, 1687px 670px #fff, 370px 1347px #fff, 1399px 972px #fff,
    1069px 1058px #fff, 1857px 388px #fff, 1561px 139px #fff, 1022px 1644px #fff,
    792px 1865px #fff, 144px 143px #fff, 1970px 5px #fff, 1878px 1475px #fff,
    135px 1373px #fff, 1334px 1335px #fff, 27px 82px #fff, 1822px 470px #fff,
    1621px 396px #fff, 1769px 1647px #fff, 1229px 1611px #fff, 693px 1269px #fff,
    1248px 1185px #fff, 782px 1845px #fff, 1873px 863px #fff, 1778px 704px #fff,
    1718px 858px #fff, 71px 88px #fff, 1442px 637px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 249px 117px #fff, 1687px 1948px #fff, 205px 1158px #fff,
    285px 227px #fff, 776px 485px #fff, 128px 1152px #fff, 1378px 1829px #fff,
    1255px 1305px #fff, 1203px 202px #fff, 883px 1163px #fff, 305px 1974px #fff,
    126px 802px #fff, 1583px 1191px #fff, 1768px 1013px #fff, 159px 23px #fff,
    1405px 1965px #fff, 1112px 1462px #fff, 663px 919px #fff, 1593px 771px #fff,
    906px 1718px #fff, 1743px 1941px #fff, 54px 174px #fff, 1401px 281px #fff,
    1009px 211px #fff, 1803px 1913px #fff, 1610px 770px #fff, 1195px 1049px #fff,
    472px 1178px #fff, 263px 1597px #fff, 1794px 222px #fff, 581px 844px #fff,
    288px 1672px #fff, 22px 1707px #fff, 1966px 913px #fff, 1948px 308px #fff,
    267px 965px #fff, 433px 1861px #fff, 442px 531px #fff, 1013px 938px #fff,
    709px 480px #fff, 654px 1372px #fff, 699px 1713px #fff, 1998px 573px #fff,
    294px 218px #fff, 1639px 377px #fff, 1137px 105px #fff, 1416px 343px #fff,
    792px 875px #fff, 1001px 1866px #fff, 1558px 263px #fff, 1464px 600px #fff,
    736px 356px #fff, 1743px 976px #fff, 527px 1609px #fff, 779px 1384px #fff,
    285px 1192px #fff, 1409px 1211px #fff, 1278px 261px #fff, 104px 1653px #fff,
    1038px 730px #fff, 839px 1703px #fff, 146px 1190px #fff, 1464px 1995px #fff,
    1643px 1556px #fff, 1041px 319px #fff, 859px 520px #fff, 14px 1123px #fff,
    944px 567px #fff, 422px 1432px #fff, 1348px 431px #fff, 244px 1973px #fff,
    815px 1106px #fff, 1090px 1816px #fff, 856px 479px #fff, 1199px 1879px #fff,
    142px 280px #fff, 752px 1653px #fff, 190px 194px #fff, 108px 1523px #fff,
    706px 1538px #fff, 1735px 358px #fff, 974px 1707px #fff, 236px 1548px #fff,
    464px 587px #fff, 1735px 1319px #fff, 285px 974px #fff, 1329px 663px #fff,
    1399px 915px #fff, 1841px 1638px #fff, 669px 1885px #fff, 633px 289px #fff,
    199px 902px #fff, 1350px 1552px #fff, 1264px 164px #fff, 965px 1702px #fff,
    29px 1646px #fff, 454px 1459px #fff, 1870px 692px #fff, 1773px 440px #fff,
    157px 851px #fff;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 249px 117px #fff, 1687px 1948px #fff, 205px 1158px #fff,
    285px 227px #fff, 776px 485px #fff, 128px 1152px #fff, 1378px 1829px #fff,
    1255px 1305px #fff, 1203px 202px #fff, 883px 1163px #fff, 305px 1974px #fff,
    126px 802px #fff, 1583px 1191px #fff, 1768px 1013px #fff, 159px 23px #fff,
    1405px 1965px #fff, 1112px 1462px #fff, 663px 919px #fff, 1593px 771px #fff,
    906px 1718px #fff, 1743px 1941px #fff, 54px 174px #fff, 1401px 281px #fff,
    1009px 211px #fff, 1803px 1913px #fff, 1610px 770px #fff, 1195px 1049px #fff,
    472px 1178px #fff, 263px 1597px #fff, 1794px 222px #fff, 581px 844px #fff,
    288px 1672px #fff, 22px 1707px #fff, 1966px 913px #fff, 1948px 308px #fff,
    267px 965px #fff, 433px 1861px #fff, 442px 531px #fff, 1013px 938px #fff,
    709px 480px #fff, 654px 1372px #fff, 699px 1713px #fff, 1998px 573px #fff,
    294px 218px #fff, 1639px 377px #fff, 1137px 105px #fff, 1416px 343px #fff,
    792px 875px #fff, 1001px 1866px #fff, 1558px 263px #fff, 1464px 600px #fff,
    736px 356px #fff, 1743px 976px #fff, 527px 1609px #fff, 779px 1384px #fff,
    285px 1192px #fff, 1409px 1211px #fff, 1278px 261px #fff, 104px 1653px #fff,
    1038px 730px #fff, 839px 1703px #fff, 146px 1190px #fff, 1464px 1995px #fff,
    1643px 1556px #fff, 1041px 319px #fff, 859px 520px #fff, 14px 1123px #fff,
    944px 567px #fff, 422px 1432px #fff, 1348px 431px #fff, 244px 1973px #fff,
    815px 1106px #fff, 1090px 1816px #fff, 856px 479px #fff, 1199px 1879px #fff,
    142px 280px #fff, 752px 1653px #fff, 190px 194px #fff, 108px 1523px #fff,
    706px 1538px #fff, 1735px 358px #fff, 974px 1707px #fff, 236px 1548px #fff,
    464px 587px #fff, 1735px 1319px #fff, 285px 974px #fff, 1329px 663px #fff,
    1399px 915px #fff, 1841px 1638px #fff, 669px 1885px #fff, 633px 289px #fff,
    199px 902px #fff, 1350px 1552px #fff, 1264px 164px #fff, 965px 1702px #fff,
    29px 1646px #fff, 454px 1459px #fff, 1870px 692px #fff, 1773px 440px #fff,
    157px 851px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/*# sourceMappingURL=main.css.map */
